<header class="container header active" id="home">
    <div class="header-content">
        <div class="right-header">
            <h1 class="name">Hi, I'm <span>Srimathi</span></h1>
            <p>
                I'm a Web Developer, I love to create beautiful and functional websites. " Website without visitors is like a ship lost in the horizon ". Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero? Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque blanditiis sed aut!
            </p>
        </div>
        <div class="left-header">
            <div class="h-shape"></div>
            <div class="image">
                <img src="https://i.postimg.cc/HngwKXc0/pic.jpg" alt="" />
            </div>
        </div>
    </div>
</header>
<app-about></app-about>